# --------------------------------------------------------------------------------------------------
# Income - Property Rental Income - Summary
# Summarises data from Income - Property Rental Income by Nominal Code
#
# Helen Heaton
# Last updated 07/12/23
# --------------------------------------------------------------------------------------------------

SKIPCHECK;
FEEDSTRINGS;

# Summarise data from 'Income - Property Rental Income' by Nominal Code
[]=N:
IF(!Nominal Code@=ATTRS( 'Property Rental Income Element' , !Property Rental Income Element, 'Nominal Code'),
 DB('Income - Property Rental Income', !Version, !t_Year, !t_Period, !Department, 'All Property Types', 'Total Funding Types', !Property Rental Income Element, 'Monthly Income')
  ,continue);

[]=N:
IF(!Nominal Code@=ATTRS( 'm_Property Rental Income Calculation' , 'Monthly Bad Debt £', 'Nominal Code'),
 DB('Income - Property Rental Income', !Version, !t_Year, !t_Period, !Department, 'All Property Types', 'Total Funding Types', !Property Rental Income Element, 'Monthly Bad Debt £')*-1
  ,continue);
  
[]=N:
IF(!Nominal Code@=ATTRS( 'm_Property Rental Income Calculation' , 'Monthly Void Value £', 'Nominal Code'),
 DB('Income - Property Rental Income', !Version, !t_Year, !t_Period, !Department, 'All Property Types', 'Total Funding Types', !Property Rental Income Element, 'Monthly Void Value £')*-1
  ,continue);  

#IF(!Nominal Code@=ATTRS( 'Property Rental Income Element', !Property Rental Income Element, 'Nominal Code'),
 # DB('Income - Property Rental Income', !Version, !t_Year, !t_Period, !Department, 'All Property Types', 'Total Funding Types', !Property Rental Income Element, 'Net Monthly Rental Income')
  #,continue);

#################################################################################################################
feeders;
#################################################################################################################

### External ###
[]=>DB('Income by Home', !Version, !t_Period, !t_Year, !Department, !'Nominal Code', 'Property Rental Income');