# --------------------------------------------------------------------------------------------------
# Income - Unitary Charge Income - Summary
# Summarises data from Income - Unitary Charge Income by Nominal Code
#
# Helen Heaton
# Last updated 07/12/23
# --------------------------------------------------------------------------------------------------

SKIPCHECK;
FEEDSTRINGS;

# Summarise data from 'Income - Unitary Charge Income' by Nominal Code

[]=N:
IF(!Nominal Code@=ATTRS( 'm_Unitary Charge Calculation', !m_Unitary Charge Calculation, 'Nominal Code'),
  DB('Income - Unitary Charge Income', !Version, !t_Year, !t_Period, !Department, 'All Bed Types', !m_Unitary Charge Calculation)
  ,continue);

#################################################################################################################
feeders;
#################################################################################################################

### External ###
['Total Contract Sum'] => db('Income by Home', !Version, !t_Period, !t_Year, !Department, !'Nominal Code', 'Unitary Charge Income' );