SKIPCHECK;

# no rules if no values
['TM1 Account'] = S:if(['Amount']=0,STET,CONTINUE);

# Budget YTD
# ['Budget','Closing Balance GBP'] = n: 
#     IF(ATTRS('Period', !Period, 'Month No') @= '01',
#         ['Budget','Value GBP'],
#         ['Budget','Value GBP'] + DB('JNL_Posting', 'Budget', !Companies, ATTRS('Period', !Period, 'Prev Month'), !Journal by Reference,!Sequence, 'Closing Balance GBP')
#       );
      
# ['Budget','Closing Balance Local Currency'] = n: 
#     IF(ATTRS('Period', !Period, 'Month No') @= '01',
#         ['Budget','Value Local Currency'],
#         ['Budget','Value Local Currency'] + DB('JNL_Posting', 'Budget', !Companies, ATTRS('Period', !Period, 'Prev Month'), !Journal by Reference,!Sequence, 'Closing Balance Local Currency')
#       );

#[{'Exch. Rate','Value GBP'}]=N:if(['Amount']=0,STET,CONTINUE);

['Exch. Rate GBP'] = n: 
IF(ATTRS( 'TM1 Accounts', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'TM1 Account'), 'Account Type') @= 'P&L',
   DB('MA_Currency', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'MA FX'), 'Actual', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'FX_Period'), 'GBP P&L'),
   DB('MA_Currency', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'MA FX'), 'Actual', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'FX_Period'), 'GBP BS')
  );
  
['Exch. Rate Local Currency'] = n: 
IF(ATTRS( 'TM1 Accounts', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'TM1 Account'), 'Account Type') @= 'P&L',
   DB('MA_Currency', ATTRS('Companies',!Companies,'FX Currency'), 'Actual', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'FX_Period'), 'GBP P&L'), 
   DB('MA_Currency', ATTRS('Companies',!Companies,'FX Currency'), 'Actual', DB('JNL_Posting', !MA_Scenario, !Companies, !Period, !Journal by Reference,!Sequence, 'FX_Period'), 'GBP BS') 
  );
                    

['Opening Balance GBP'] = n: ['Opening Balance Transaction Currency'] * ['Exch.Rate GBP'];
['Opening Balance Local Currency'] = n: ['Opening Balance GBP'] \ ['Exch.Rate Local Currency'];

['Closing Balance GBP'] = n: ['Closing Balance Transaction Currency'] * ['Exch.Rate GBP'];
['Closing Balance Local Currency'] = n: ['Closing Balance GBP'] \ ['Exch.Rate Local Currency'];

['Value Transaction Currency', 'MA_Scenario':{'Budget','Forecast'}] = n: ['Amount'];

['Value Transaction Currency'] = n: ['Closing Balance Transaction Currency'] - ['Opening Balance Transaction Currency'];
['Value GBP'] = n: ['Value Transaction Currency'] * ['Exch.Rate GBP'];
['Value Local Currency'] = n: ['Value GBP'] \ ['Exch.Rate Local Currency']; 

['process_flag'] = c: if(['Amount'] <0, -['Amount'], ['Amount']) + if(['Closing Balance Transaction Currency'] <0, -['Closing Balance Transaction Currency'], ['Closing Balance Transaction Currency']);

#['TM1 Account'] = S: DB('MA_Account_Mapping', ATTRS('Companies',!Companies,'Mapping Code'), DB('JNL_Posting_Input',!Companies, !Period, !Journal by Reference, !Sequence, 'Source_Account_Code') ,'TM1 Account');


feeders;
['Amount'] =>['Exch.Rate GBP'],['Value GBP'],['TM1 Account'],['Value Local Currency'],['Exch. Rate Local Currency'];
# ['Amount','Budget','Current Periods'] => ['Closing Balance GBP','Budget']; 
# ['Amount','Budget','Current Periods'] => ['Closing Balance Local Currency','Budget']; 

# ['Budget', 'Closing Balance GBP'] => DB('JNL_Posting', 'Budget', !Companies, ATTRS('Period', !Period, 'Next Month'), !Journal by Reference,!Sequence, 'Closing Balance GBP');