#---------------------------------------------------------------------------------------------------
# MA_Fact
# This cube is a summary of the data from MA_Staging without the ICP or department breakdown.
# This cube also holds statistical data and is used for reporting
# 
# Created by Rob Haywood | Budgeting Solutions
# Amended by Helen Heaton | Budgeting Solutions | 26/04/2023
#
#---------------------------------------------------------------------------------------------------
skipcheck;
FEEDSTRINGS;
#---------------------------------------------------------------------------------------------------
# Internal Calculations
#---------------------------------------------------------------------------------------------------

# Calculations needed for Report. Keep these at the beginning so that they always apply 
['Total GP %'] = IF (['Net Sales']=0, 0, CONTINUE);
['Total GP %'] =  (['Gross Profit'] / ['Net Sales']);


#---------------------------------------------------------------------------------------------------
# Set Balance Sheet YTD Total
#---------------------------------------------------------------------------------------------------
['YTD'] = c:
    IF(  ( ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'BS'
           & 
           subst(ATTRS('Period',!Period,'Month Name'),1,2) @= 'FY'
           &
           !Period | '02' @<= DB('MA_Parameters','Reporting Period','Value')
         )
         ,db('MA_Fact', !Companies, !Period | '02', !MA_Scenario, !MA_Layer, !TM1Accounts, !YTD-Month)
         ,continue
       );

['YTD'] = c:
    IF(  ( ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'BS'
           & 
           subst(ATTRS('Period',!Period,'Month Name'),1,2) @= 'FY'
           &
           !Period | '02' @> DB('MA_Parameters','Reporting Period','Value')
         )
         ,db('MA_Fact', !Companies, DB('MA_Parameters','Reporting Period','Value'), !MA_Scenario, !MA_Layer, !TM1Accounts, !YTD-Month)
         ,continue
       );



#---------------------------------------------------------------------------------------------------
# Zero out future months for month actuals
#---------------------------------------------------------------------------------------------------

['Month', 'Actual'] = N: 
        IF (
          ((ELPAR('Period',!Period,1)@= DB('MA_Parameters','Current Year','Value'))
          & 
          ATTRN('Period',!Period,'Month num') > ATTRN('Period',DB('MA_Parameters', 'Reporting Period', 'Value'),'Month num')
          #& ['YTD']=0
          )
          , 0, CONTINUE);
 
 
 
#---------------------------------------------------------------------------------------------------
# Zero out future YTD adjustments
#---------------------------------------------------------------------------------------------------

['YTD'] = N: 
        IF (
          ((ELPAR('Period',!Period,1) @= DB('MA_Parameters','Current Year','Value'))
          & 
          ATTRN('Period',!Period,'Month num') > ATTRN('Period',DB('MA_Parameters', 'Reporting Period', 'Value'),'Month num')
           )
          , 0, CONTINUE);






#---------------------------------------------------------------------------------------------------
FEEDERS;
#---------------------------------------------------------------------------------------------------

### Internal ###

# ['YTD','Actual', 'Source System'] => ['Month', 'Actual','Source System'];
# ['Source System'] => ['Source LC'];
# #['Source System'] => ['Local Audit'];
# #['Source System'] => ['Year End Alignment'];

# ['Source GBP'] => ['Group MA'];

# ['Month'] => ['YTD'];
# ['Source LC'] => ['Source GBP'];
# ['YTD', 'Source GBP'] => ['Month','Source GBP'];
# ['Net Sales'] => ['Total GP %'];
# ['Gross Profit'] => ['Total GP %'];
# ['Net Sales'] => ['992601'];
# ['MA_Layer':'Statistics', '992601'] => ['WINGS','MA_Layer': 'Group MA','992601'];
# ['MA_Layer':'Statistics', '992601'] => ['WINGS','MA_Layer': 'Group MA', 'Total Transaction Value'];

# ['YTD','Actual','Source System']=>DB( 'MA_Fact', !Companies, ATTRS('Period',!Period,'Next Month'), !MA_Scenario, !MA_Layer, !'TM1 Accounts', 'Month');


### External ###

# ['Actual'] =>  db('Check Totals', !Companies,  !Period, 'Actual', !MA_Layer, !TM1 Accounts, !YTD-Month, 'MA Fact' );
# ['Actual', 'Year End Alignment'] =>  db('Check Totals', !Companies,  !Period, 'Actual', !MA_Layer, !TM1 Accounts, !YTD-Month, 'Year end alignment' );

# [] => db('MA_Fact_Forex', !Companies, !Period, !MA_Scenario, !MA_Layer, !TM1Accounts, !YTD-Month, 'GBP' );