#---------------------------------------------------------------------------------------------------
# MA_Staging
# This cube holds source data and also puts all the journal lines into the correct place ready for transfer to the MA_Fact cube
# 
# Last updated by Helen Heaton | Budgeting Solutions | 12/10/2023
#
#---------------------------------------------------------------------------------------------------

### GENERAL LOGIC ###
# The source data is supplied on a "closing balance is king" basis. In some instances ths source system can create a closing balance without an associated debit or credit entry.
# So monthly movements must be created from the supplied closing balance minus the previously calculated closing balance. 

# For the P&L, this must be done at currency level before translation. The movement is then translated to GBP using the P&L period rate, and the closing balance calculated as opening balance plus translated movement.

# For Balance sheet, the closing balance is translated to GBP using the balance sheet rate. The movement is then calculated as translated closing balance less opening balance. 

skipcheck;
FEEDSTRINGS;

#---------------------------------------------------------------------------------------------------
# Internal Calculations
#---------------------------------------------------------------------------------------------------

# Calculations needed for Report. Keep these at the beginning so that they always apply 
['Total GP %'] = IF (['Net Sales']=0, 0, CONTINUE);
['Total GP %'] =  (['Gross Profit'] / ['Net Sales']);
['Effective Rate'] = ['GBP Value'] \ ['Local Currency Value'];

### Update retained earnings ###

['532001', 'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = n: ['Earnings'];


#---------------------------------------------------------------------------------------------------
# Source GBP Layer
#---------------------------------------------------------------------------------------------------
['Source GBP'] = N: ['GBP Value', 'Source LC'];


#---------------------------------------------------------------------------------------------------
# Opening Balances
#---------------------------------------------------------------------------------------------------

### Balance Sheet ###
# Opening Balance = Previous month closing balance
['MA_Measures':'MA_Opening'] = N:  
              IF( ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'BS'
                ,db('MA_Staging', !MA_Scenario, !Companies, !MA_Dept, !ICP, !MA_Layer, attrs('Period', !Period, 'Prev Month'), !TM1Accounts, 'MA_Closing', !MA_FX_Calc)
                ,continue
                )
             ;


### Profit & Loss  - Special Case Angola and Norway ###
# Angola, Brazil  and Norway run Jan to Dec so they need to be zero in Jan. In other months, Opening Balance = Previous month closing balance
['MA_Measures':'MA_Opening', 'Source System','Companies':{'AO1','NO1','BR1'}] = N:  
  IF(!Period @<= db('MA_Parameters', 'Reporting Period', 'Value' )
      ,IF(!Period @< str(202310,4,0) 
         ,IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L'
              ,IF(ATTRS('Period', !Period, 'Month No') @= '11' 
                  ,0
                  ,db('MA_Staging', !MA_Scenario, !Companies, !MA_Dept, !ICP, !MA_Layer, attrs('Period', !Period, 'Prev Month'), !TM1Accounts, 'MA_Closing', !MA_FX_Calc)
                  )
              , continue)
          , continue)    
,continue);

# Norway is being aligned with the rest of the group in 2023 so only Angola and Brazil from 2023 onwards
['MA_Measures':'MA_Opening', 'Source System','Companies':{'AO1','BR1'}] = N:  
  IF(!Period @<= db('MA_Parameters', 'Reporting Period', 'Value' )
      ,IF(!Period @>= str(202310,4,0) 
         ,IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L'
              ,IF(ATTRS('Period', !Period, 'Month No') @= '11' 
                  ,0
                  ,db('MA_Staging', !MA_Scenario, !Companies, !MA_Dept, !ICP, !MA_Layer, attrs('Period', !Period, 'Prev Month'), !TM1Accounts, 'MA_Closing', !MA_FX_Calc)
                  )
              , continue)
          , continue)    
,continue);



### Profit & Loss - General Case ###
# Zero in Mar. In other months, Opening Balance = Previous month closing balance
['MA_Measures':'MA_Opening'] = N:  
  IF( !MA_Layer @<> 'Year end Alignment'   
      #,IF(!Period @<= db('MA_Parameters', 'Reporting Period', 'Value' )
         ,IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L'
              ,IF(ATTRS('Period', !Period, 'Month No') @= '01' 
                  ,0
                  ,db('MA_Staging', !MA_Scenario, !Companies, !MA_Dept, !ICP, !MA_Layer, attrs('Period', !Period, 'Prev Month'), !TM1Accounts, 'MA_Closing', !MA_FX_Calc)
                  )
              , continue)
      #    ,continue)
  ,continue);

#---------------------------------------------------------------------------------------------------
# Balance Sheet Transactions 
#---------------------------------------------------------------------------------------------------
# Movement = closing balance (supplied currency value and translated GBP Value) less calculated opening balance.
['MA_Measures':'MA_Net_Change']= N:
   IF (!MA_Layer @<> 'Statistics' 
      ,IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'BS'
         ,['AGM_Import_Closing'] - ['MA_Opening']
         ,continue)
      ,CONTINUE);

# Create debit or credit from the movement (for info only - these aren't used in the model)
['MA_Measures':'MA_DR'] = N: IF(['MA_Measures':'MA_Net_Change'] >= 0, ['MA_Measures':'MA_Net_Change'], 0);
['MA_Measures':'MA_CR'] = N: IF(['MA_Measures':'MA_Net_Change'] < 0, -['MA_Measures':'MA_Net_Change'], 0);

# Calculate closing balance
 ['MA_Measures':'MA_Closing','Local Currency Value'] = N: 
    IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'BS'
      ,['MA_Measures':'MA_Opening'] + ['MA_Net_Change']
      ,continue);

# On the Balance sheet the check should be nil if calculated correctly      
['MA_Measures':'check'] = N: ['MA_Measures':'AGM_Import_Closing'] - ['MA_Measures':'MA_Closing'];


#---------------------------------------------------------------------------------------------------
# P&L Transactions 
#---------------------------------------------------------------------------------------------------
# For the source layer, calculate the net change = supplied closing balance less calculated opening balance
# Actuals only as only period movements are supplied for budget and forecast
 ['MA_Measures':'MA_Opening','Local Currency Value', 'MA_Scenario':'Actual',{'Source System','Local Adjustment','Local Audit'}]= N:
     IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L'
       ,['AGM_Import_Closing'] - ['MA_Opening'] 
       ,continue);

 
 
 ['MA_Measures':'MA_Net_Change','Local Currency Value', 'MA_Scenario':'Actual',{'Source System','Local Adjustment','Local Audit'}]= N:
     IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L'
       ,['AGM_Import_Closing'] - ['MA_Opening'] 
       ,continue);


# Translate the movement - source layers
['MA_Measures':'MA_Net_Change','GBP Value',{'Source System','Local Adjustment','Local Audit'}] = n: ['MA_Net_Change','Local Currency Value'] * DB('MA_Currency', ATTRS('Companies',!Companies,'FX Currency'), !MA_Scenario, !Period, 'GBP '|ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type' ) );


# Calculate Closing Balance
['MA_Measures':'MA_Closing']= N:
    IF(ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L'
      ,['MA_Opening'] + ['MA_Net_Change']
      ,continue);

# Calculate debit and credit     
['MA_Measures':'MA_DR'] = N: IF(['MA_Measures':'MA_Net_Change'] >= 0, ['MA_Measures':'MA_Net_Change'], 0);
['MA_Measures':'MA_CR'] = N: IF(['MA_Measures':'MA_Net_Change'] < 0, -['MA_Measures':'MA_Net_Change'], 0);

# May show differences due to exchange
['MA_Measures':'check'] = N: ['MA_Measures':'AGM_Import_Closing'] - ['MA_Measures':'MA_Closing'];


#---------------------------------------------------------------------------------------------------
# Zero out future months for month actuals
#---------------------------------------------------------------------------------------------------

# ['Source System','Actual'] = N: 
#         IF (
#           ((ELPAR('Period',!Period,1)@= DB('MA_Parameters','Current Year','Value'))
#           & 
#           ATTRN('Period',!Period,'Month num') > ATTRN('Period',DB('MA_Parameters', 'Reporting Period', 'Value'),'Month num')
#             )
#           , 0, CONTINUE);
 

#---------------------------------------------------------------------------------------------------
# DIFFERENT YEAR END SPECIAL CASE
#---------------------------------------------------------------------------------------------------

# As Angola, Brazil and Norway run Jan to Dec rather than Mar to Feb, the YTD figures on the P&L need to be brought in line with the rest of the group
# Use a [Year End Alignment] Layer to correct the AGM_Import_Closing figure
# From 2023 only Angola and Brazil, as Norway is being aligned with the rest of the group

###IMPORTANT### 
# This section will need to be updated when new years are added to the model

###AGM_Import_Closing###
#
# For the P&L Jan and Feb [AGM_Import_Closing] = [AGM_Import_Closing] + Dec[AGM_Import_Closing]
['AGM_Import_Closing','Period':{'202001','202002'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source LC','AGM_Import_Closing','201912'],  CONTINUE);
['AGM_Import_Closing','Period':{'202101','202102'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source LC','AGM_Import_Closing','202012'],  CONTINUE);
['AGM_Import_Closing','Period':{'202201','202202'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source LC','AGM_Import_Closing','202112'],  CONTINUE);
['AGM_Import_Closing','Period':{'202301','202302'},'Year End Alignment', 'Companies':{'AO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source LC','AGM_Import_Closing','202212'],  CONTINUE);

# For the P&L Mar to Dec [AGM_Import_Closing] = [AGM_Import_Closing] - Feb[AGM_Import_Closing]
['AGM_Import_Closing','Period':{'201903','201904','201905','201906','201907','201908','201909','201910','201911','201912'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','AGM_Import_Closing','201902'],  CONTINUE);
['AGM_Import_Closing','Period':{'202003','202004','202005','202006','202007','202008','202009','202010','202011','202012'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','AGM_Import_Closing','202002'],  CONTINUE);
['AGM_Import_Closing','Period':{'202103','202104','202105','202106','202107','202108','202109','202110','202111','202112'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','AGM_Import_Closing','202102'],  CONTINUE);
['AGM_Import_Closing','Period':{'202203','202204','202205','202206','202207','202208','202209','202210','202211','202212'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','AGM_Import_Closing','202202'],  CONTINUE);
['AGM_Import_Closing','Period':{'202303','202304','202305','202306','202307','202308','202309','202310','202311','202312'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','AGM_Import_Closing','202302'],  CONTINUE);

###MA_Opening###
#
# For the P&L Jan and Feb [MA_Opening] = Dec[MA_Closing] - Feb[MA_Closing] from Source System + 
['MA_Opening','Period':{'202001','202002'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source System','MA_Measures':'MA_Closing','201912'] - ['Source System','MA_Measures':'MA_Closing','201902'],  CONTINUE);
['MA_Opening','Period':{'202101','202102'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source System','MA_Measures':'MA_Closing','202012'] - ['Source System','MA_Measures':'MA_Closing','202002'],  CONTINUE);
['MA_Opening','Period':{'202201','202202'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source System','MA_Measures':'MA_Closing','202112'] - ['Source System','MA_Measures':'MA_Closing','202102'],  CONTINUE);
['MA_Opening','Period':{'202301','202302'},'Year End Alignment', 'Companies':{'AO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', ['Source System','MA_Measures':'MA_Closing','202212'] - ['Source System','MA_Measures':'MA_Closing','202202'],  CONTINUE);
['MA_Opening','Period':{'202301','202302'},'Year End Alignment', 'Companies':{'NO1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','MA_Opening','202203'],  CONTINUE);

# For the P&L Mar to Dec  [MA_Opening] = -Mar [MA_Opening] from Source System
['MA_Opening','Period':{'201903','201904','201905','201906','201907','201908','201909','201910','201911','201912'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','MA_Opening','201903'],  CONTINUE);
['MA_Opening','Period':{'202003','202004','202005','202006','202007','202008','202009','202010','202011','202012'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','MA_Opening','202003'],  CONTINUE);
['MA_Opening','Period':{'202103','202104','202105','202106','202107','202108','202109','202110','202111','202112'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','MA_Opening','202103'],  CONTINUE);
['MA_Opening','Period':{'202203','202204','202205','202206','202207','202208','202209','202210','202211','202212'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','MA_Opening','202203'],  CONTINUE);
['MA_Opening','Period':{'202303','202304','202305','202306','202307','202308','202309','202310','202311','202312'},'Year End Alignment', 'Companies':{'AO1','NO1','BR1'}] = IF (ATTRS( 'TM1 Accounts', !TM1 Accounts, 'Account Type') @= 'P&L', - ['Source System','MA_Opening','202303'],  CONTINUE);


#---------------------------------------------------------------------------------------------------
# Exchange differences
#---------------------------------------------------------------------------------------------------

# If the source TB balances in local currency but not in GBP this is due to exchange differences
# These are corrected by making a balancing entry

# ['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'] = n:
#   If (['Source System', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing'] 
#      +['Local Adjustment', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#      +['Local Reclass', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#      +['Local Audit', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing'] < -1
#       , stet
#       , If (['Source System', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#            +['Local Adjustment', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#            +['Local Reclass', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#            +['Local Audit', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing'] > 1
#             , stet
#             , -['Source System', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#               -['Local Adjustment', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#               -['Local Reclass', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing']
#               -['Local Audit', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'AGM_Import_Closing'] ));
  
['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'] = n:
  If (['Source System', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing'] 
     +['Local Adjustment', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
     +['Local Reclass', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
     +['Local Audit', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing'] < -1
      , stet
      , If (['Source System', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
           +['Local Adjustment', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
           +['Local Reclass', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
           +['Local Audit', 'Local Currency Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing'] > 1
            , stet
            , -['Source System', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
              -['Local Adjustment', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
              -['Local Reclass', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']
              -['Local Audit', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing'] ));
  

####################################################################################################
FEEDERS;
####################################################################################################

### Internal ###
['Local Currency Value'] => ['GBP Value', 'Source LC'];

#MA_Measures
['AGM_Import_Closing'] => ['MA_Net_Change'];  
['MA_Measures':'MA_Closing'] => db('MA_Staging', !MA_Scenario, !Companies, !MA_Dept, !ICP, !MA_Layer, attrs('Period', !Period, 'Next Month'), !TM1Accounts, 'MA_Opening', !MA_FX_Calc);
['MA_Opening'] => ['MA_Net_Change'];  

['MA_Measures':'MA_Net_Change'] => ['MA_Measures':'MA_DR']; 
['MA_Measures':'MA_Net_Change'] => ['MA_Measures':'MA_CR'];
#['MA_Measures':'MA_Net_Change'] => ['MA_Measures':'MA_Closing'];
#['MA_Measures':'MA_Opening'] => ['MA_Measures':'MA_Closing'];
['MA_Measures':'MA_Closing'] => ['MA_Measures':'check'];

#['AGM_Import_Closing'] => db('MA_Staging', !MA_Scenario, !Companies, !MA_Dept, !ICP, !MA_Layer, ATTRS('Period',!Period,'Next Month'), !'TM1 Accounts', !MA_Measures, !MA_FX_Calc );




['Source System', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']=> ['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'];
['Local Adjustment', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']=> ['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'];
['Local Reclass', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']=> ['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'];
['Local Audit', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing']=> ['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'];

['Earnings', 'Year End Alignment', 'Companies':'AO1'] => ['532001', 'Year End Alignment', 'Companies':'AO1'] ;
['Earnings', 'Year End Alignment', 'Companies':'NO1'] => ['532001', 'Year End Alignment', 'Companies':'NO1'] ;
['Earnings', 'Year End Alignment', 'Companies':'BR1'] => ['532001', 'Year End Alignment', 'Companies':'BR1'] ;

['GBP Value', 'Source LC'] => ['Source GBP'];
['GBP Value', 'Source LC'] => ['Local Currency Value','Source GBP'];


['Earnings', 'Year End Alignment','Companies':'AO1'] => ['532001', 'Year End Alignment', 'Companies':'AO1'] ;
['Earnings', 'Year End Alignment','Companies':'NO1'] => ['532001', 'Year End Alignment', 'Companies':'NO1'] ;
['Earnings', 'Year End Alignment','Companies':'BR1'] => ['532001', 'Year End Alignment', 'Companies':'BR1'] ;

['Source System', 'GBP Value', 'ALL ACCOUNTS', 'ICP':'All Companies', 'MA_Dept':'All Depts', 'MA_Measures':'MA_Closing'] => ['Source System FX', 'GBP Value', '533601', 'ICP':'ZZZ', 'MA_Dept':'ZZZ', 'MA_Measures':'AGM_Import_Closing'];

