  # --------------------------------------------------------------------------------------------------
  # Other Costs - Property Maintenance Costs
  # Input cube for Property Maintenance Costs (to be imported from spreadsheet)
  #
  # Created by Jenny Hassett 
  # --------------------------------------------------------------------------------------------------

SKIPCHECK;
FEEDSTRINGS;


FEEDERS;
#External Feeders
#Feeder to Depreciation
['Capital Expenditure (Non Life-Cycle)']=>DB('Other Costs - Depreciation', !Version, !Department, !t_Year, !t_Period, 'New Capex spend' );
['Capital Expenditure (Non Life-Cycle)']=>DB('Other Costs - Depreciation', !Version, !Department, !t_Year, !t_Period, 'New Capex Depreciation' );
[]=>DB('Other Costs - Property Maintenance Costs - Summary', !Version, !t_Year, !t_Period, !Department, ATTRS( 'Prop. Maint. Cost Type', !Prop. Maint. Cost Type, 'Nominal Code' ), !'Prop. Maint. Cost Type' );