SKIPCHECK;
FEEDSTRINGS;

[]=N:
If(!Nominal Code@=ATTRS( 'Prop. Maint. Cost Type', !Prop. Maint. Cost Type, 'Nominal Code' ),
DB('Other Costs - Property Maintenance Costs', !Version, !Department, !t_Year, !t_Period, !'Prop. Maint. Cost Type' )
,0);


FEEDERS;
[]=>DB('Other Costs - Costs by Dept', !Version, !t_Period, !t_Year, !Department, !'Nominal Code' );