  # --------------------------------------------------------------------------------------------------
  # Other Costs - CQCFees
  # Maps the CQC fees (P&L and Cash Flow) based on the payment month
  #
  # Paul De Duonni
  # Last updated 05/01/24
  # --------------------------------------------------------------------------------------------------
  
  Skipcheck;
  Feedstrings;
  
    # Get this year's CQC fees from Costs by Dept cube and Year-1 for P&L   
     ['P&L','Current Year']=N:
      IF(AttrN('t_Period', !t_Period, 'Index') >= AttrN('t_Period', ATTRS('Department', !Department, 'CQC Month'), 'Index'),
          DB('Other Costs - Costs by Dept', !Version, !t_Period, 'Current Year', !Department, 'S236' ),
      IF(AttrN('t_Period', !t_Period, 'Index') < AttrN('t_Period', ATTRS('Department', !Department, 'CQC Month'), 'Index'),
          DB('Other Costs - Costs by Dept', !Version, !t_Period, 'Year-1', !Department, 'S236' ),            
      CONTINUE)); 
      
    # Populate the month for the cash flow 
     ['Cash Flow','Current Year']=N:
      IF(AttrN('t_Period', !t_Period, 'Index') = AttrN('t_Period', ATTRS('Department', !Department, 'CQC Month'), 'Index'),
          DB('Other Costs - Costs by Dept', !Version, !t_Period, !t_Year, !Department, 'S236' )*12,           
      CONTINUE);    
      
 
    #ADD IN FEEDERS ONCE LINKED UP TO P&L & CASH FLOW CUBES
