SKIPCHECK;
FEEDSTRINGS;


[]=N:
IF(!Nominal Code@=ATTRS( 'm_Depreciation', !m_Depreciation, 'Nominal Code' ),
DB('Other Costs - Depreciation', !Version, !Department, !t_Year, !t_Period, !m_Depreciation ),
0);


FEEDERS;
['All Costs']=>DB('Other Costs - Costs by Dept', !Version, !t_Period, !t_Year, !Department, !'Nominal Code' );