SKIPCHECK;
FEEDSTRINGS;

['Gross Cost',{'April','May','June','July','August','September'}]=N:
IF(!Admin Department@=ATTRS( 'Department', !Department, 'Admin Dept' ),
DB('Payroll - Homes Pay Calc Existing Staff', !Version, !t_Year, !Department, 'All Contract Types', 'All Staff Grades', 'Monthly Apprentice Levy - April')
+
DB('Payroll - Head Office Pay Calc', !Version, !t_Year, !Department, 'All Head Office Staff', 'Apprentice Levy '|!t_Period)
+
DB('Payroll - Homes Pay Calc inc Vacancies', !Version, !t_Period, !t_Year, !Department, 'All Staff Grades', 'Vacancies Monthly Apprentice Levy'  )
,continue);


['Gross Cost',{'October','November','December','January','February','March'}]=N:
IF(!Admin Department@=ATTRS( 'Department', !Department, 'Admin Dept' ),

DB('Payroll - Homes Pay Calc Existing Staff', !Version, !t_Year, !Department, 'All Contract Types', 'All Staff Grades', 'Monthly Apprentice Levy - October' )
+
DB('Payroll - Head Office Pay Calc', !Version, !t_Year, !Department, 'All Head Office Staff', 'Apprentice Levy '|!t_Period )
+
DB('Payroll - Homes Pay Calc inc Vacancies', !Version, !t_Period, !t_Year, !Department, 'All Staff Grades', 'Vacancies Monthly Apprentice Levy'  )
,continue);




FEEDERS;

#External Feeders
['Net Cost']=>DB('Payroll Costs by Dept', !Version, !t_Period, !t_Year, !Admin Department, AttrS('Department', !Admin Department, 'Contract'), 'R145' );